<?xml version="1.0" encoding="UTF-8"?>
<beans>
    <bean id="testBean" class="site.hnfy258.TestBean">
        <property name="name" value="test"/>
        <property name="age" value="18"/>
    </bean>

    <bean id="lazyBean" class="site.hnfy258.TestBean" lazy-init="true" scope="prototype">
        <property name="name" value="lazy"/>
        <property name="age" value="20"/>
    </bean>
</beans>
